<div class="row">
    <h4>Add a New Author:</h4>
  </div>
  <form (submit)="newAuthorForm()" method="POST">
    <div class="row">
      <div class="col-2">
        <p>Name: </p>
      </div>
      <div class="col-4">
        <p *ngIf="errorL">{{errorL.errors.name.message}}</p>
        <input type="text" name="newAuthor.name" [(ngModel)]="newAuthor.name">
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <input type="submit" value="Add Author">
      </div>
    </div>
  </form>